[mysqld]
bind-address=0.0.0.0
datadir=/var/lib/mysql
socket = /var/lib/mysql/mysql.sock  # 指定 MySQL 连接使用的套接字文件
log-error=/var/log/mysqld.log   #错误日志
pid-file=/var/run/mysqld/mysqld.pid
explicit_defaults_for_timestamp = 1  # 设置时间戳字段默认值为 `NULL`（如果未指定值）
port=3306  # 设置 MySQL 服务监听的端口号
authentication_policy=caching_sha2_password  # 设置 MySQL 使用的认证插件，选择 `caching_sha2_password`
default-storage-engine=INNODB  # 默认存储引擎设置为 InnoDB
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO"  # 设置 SQL 模式，启用严格模式，禁用自动引擎替换
server-id=1  # 配置 MySQL 服务器的唯一 ID，通常用于复制设置
lower_case_table_names=1  # 表名转换为小写（跨平台兼容）
max_connections=2000  # 设置最大连接数为 2000
max_heap_table_size=256M  # 设置最大内存表大小为 256MB
table_open_cache=4000  # 设置表打开缓存大小为 4000
tmp_table_size = 256M  # 设置临时表的最大大小为 256MB
max_heap_table_size = 256M  # 设置最大堆表内存大小为 256MB
thread_cache_size=64  # 线程缓存大小，减少线程创建开销
myisam_max_sort_file_size=100G  # MyISAM 存储引擎最大排序文件大小为 100GB
myisam_sort_buffer_size=85M  # MyISAM 排序缓冲区大小为 85MB
key_buffer_size=8M  # MyISAM 索引缓存大小为 8MB
read_buffer_size=64K  # 设置读取缓存大小为 64KB
read_rnd_buffer_size=256K  # 设置随机读取缓存大小为 256KB
innodb_flush_log_at_trx_commit=1  # 每次事务提交时，刷新 InnoDB 日志
innodb_log_buffer_size=16M  # 设置 InnoDB 日志缓冲区大小为 16MB
innodb_buffer_pool_size=8192M  # 设置 InnoDB 缓冲池大小为 8GB
innodb_thread_concurrency=9  # 设置 InnoDB 线程并发数为 9
innodb_autoextend_increment=64  # 设置 InnoDB 自动扩展的增量为 64MB
innodb_buffer_pool_instances=8  # 设置 InnoDB 缓冲池实例数为 8
innodb_concurrency_tickets=5000  # 设置 InnoDB 并发控制票数为 5000
innodb_old_blocks_time=1000  # 设置 InnoDB 旧块的最大生存时间为 1000 毫秒
innodb_stats_on_metadata=0  # 禁用 InnoDB 元数据统计信息的更新
innodb_file_per_table=1  # 启用每个表独立文件存储
innodb_checksum_algorithm=0  # 设置 InnoDB 校验和算法为 0（禁用校验和）
back_log=200  # 设置后备连接队列大小为 200
binlog_expire_logs_seconds = 86400  # 单位为秒，这里设置为 1 天
innodb_redo_log_capacity = 536870912
max_binlog_size = 100m  # 设置 binlog 最大文件大小为 100MB
binlog_cache_size = 4m  # 设置 binlog 缓存大小为 4MB
max_binlog_cache_size = 512m  # 设置 binlog 最大缓存大小为 512MB
flush_time=0  # 设置刷新间隔为 0 秒，禁用自动刷新
join_buffer_size=256K  # 设置连接操作的缓存大小为 256KB
max_allowed_packet=64M  # 设置允许的最大包大小为 64MB
max_connect_errors=100  # 设置最大连接错误次数为 100
open_files_limit=8161  # 设置最大打开文件数为 8161
sort_buffer_size=4M  # 设置排序缓冲区大小为 4MB
table_definition_cache=2000  # 设置表定义缓存大小为 2000
binlog_row_event_max_size=8K  # 设置 binlog 行事件最大大小为 8KB
sync_source_info=10000  # 设置同步源信息刷新间隔为 10000 毫秒
sync_relay_log=10000  # 设置中继日志同步间隔为 10000 毫秒
sync_relay_log_info=10000  # 设置中继日志信息同步间隔为 10000 毫秒
default_authentication_plugin=mysql_native_password

[client]
socket=/var/lib/mysql/mysql.sock  # 客户端连接时使用的套接字文件
port=3306  # 客户端连接时使用的端口号